body {
    background-color: #1c1c1c;
}


.circled {
    height: 100%;
    border-radius: 200px;
    border: 10px solid transparent;
    
}

.circled:hover {
    border: 10 px solid #FFFFFF;
}

a {
    height: 100%;
    width: auto;
}

img:hover {
    background-color: #FFFFFF;
}

@media screen and (max-width: 1064px) {
    #links {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
    }

    img {
	background-color: #FFFFFF;
	width: 100%
    }
}

@media screen and (min-width: 1065px) {
    #content {
	margin-top: 15%
    }
    
    #links {
	display: flex;
	justify-content: center;
	height: 200px;
    }

}
