body {
    background-color: #1c1c1c;
}


.circled {
    height: 100%;
    border-radius: 200px;
    border: 10px solid transparent;
    
}

.circled:hover {
    border: 10 px solid #FFFFFF;
}

a {
    height: 100%;
    width: auto;
}

img {
    width: 100%;
}
img:hover {
    background-color: #FFFFFF;
}


@media screen and (min-width: 401px) and (max-width: 1134px) {
    #content {
	margin-top: 15%;
    }
    
    #links {
	width: 200px;
	margin: auto;
    }

    img {
	background-color: #FFFFFF;
    }
}

@media screen and (min-width: 1135px) {
    #content {
	margin-top: 15%
    }
    .circle {
	height: 200px;
	width: auto;
    }
    img {
	width: auto;
    }
    #links {
	display: flex;
	justify-content: center;
	height: 200px;
    }

}
